@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
 
  body{
    overflow-x:hidden;
  }

  nav,
  ul,
  li,
  a {
    text-decoration: none;
    font-size: 14px;
    transition: all 300ms ease;
    list-style: none;
    letter-spacing: 0.025em;
  }
  
  nav,
  ul,
  li {
    font-weight: 600;
  }
  
  .container {
    padding: 96px 0;
  }
  
  .row {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .column {
    display: flex;
  }
  
  button {
    transition: all 300ms ease;
    cursor: pointer;
  }
  
  .white {
    color: #fff;
  }
  
  .purple {
    color: #6415ff;
  }
  
  .btn {
    padding: 12px 30px;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #4d249e;
  }
  
  .header__img {
    width: 100%;
  }
  
  /* NAV  */
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 32px;
  }
  
  .logo__wrapper {
    display: flex;
    align-items: center;
  }

  .logo__img {
    width: 40px;
    height: 40px;
    margin-right: 14px;
  }
  
  .logo__text {
    font-weight: 900;
    font-size: 24px;
    color: rgb(36, 62, 99);
  }
  
  .nav__links {
    display: flex;
  }
  
  .nav__link {
    margin: 0px 1.5rem;
    font-size: 0.875rem;
    padding-bottom: 0.25rem;
    transition: all ;
    color: #243E63;
  }

  .nav__link:hover {
    color: #6415ff;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
    transition: all 500ms ease;
  }
  
  .nav__link--space {
    margin: 0px 24px 0px 48px ;
  }

  .nav__link--primary {
    padding: 12px 32px;
    margin: 0;
    background-color: #6415ff;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }

  .nav__link--primary:hover {
    text-decoration: none;
    background-color: #4d249e;
    color: #fff;
  }

  .btn__menu {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 18px;
    display: none;
  }
  
  .btn__menu:hover {
    color: #6415ff;
  }
  
  .btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
  }
  
  .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__backdrop {
    position: absolute;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    height: 400px;
    border-radius: 25px;
    border: 2px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
  }
  
  .menu__list {
    margin: 12px 0px;
    padding: 0px 0px 4px;
    font-size: 18px;
    
  }
  
  .menu__link {
    font-size: 20px;
    color: #1A202C;
  }
  
  .menu__purple:hover {
    color: #6415ff;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
  }
  
  .btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
  }
  
  .btn__purple--menu {
    background-color: #6415ff;
    border-radius: 25px;
    padding: 16px 32px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
  }
  
  .btn__purple--menu:hover {
    background-color: #4904d4;
    color: #fff;
  }
  
  .menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
  }
  
  /*  HEADER  */
  
  .header__description {
    width: 40%;
    margin-bottom: 24px;
  }
  
  .header__img--wrapper {
    margin-left: 24px;
    width: 60%;
  }
  
  .header__description h1 {
    color: rgb(26 32 44);
    font-size: 48px;
    padding-bottom: 40px;
  }
  
  .header__description h2 {
    margin-top: 68px;
    font-size: 12px;
    color: #a0aec0;
  }
  
  .header__description p {
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .customers__img {
    margin: 16px 0;
    filter: grayscale(1) invert(1);
    width: 400px;
    height: 36px;
  }
  
  .input__area {
    position: relative;
    width: 100%;
  }
  
  .email__text--area {
    padding: 22px 0 22px 32px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    border-color: rgba(40, 66, 150, 0.1);
    transition: all 300ms ease;
    color: rgba(45, 68, 144, 0.6);
  }
  
  .email__text--area:hover {
    border: 2px solid #a0a5ac;
    transition: all 300ms ease;
    
  }

  .email__text--area:focus {
    outline-color: #6415ff;
    transition: all 300ms ease;
    opacity: 1;
  }

  
  .email__btn{
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    border-radius: 9999px;
    background-color: #6415ff;
    text-align: center;
    font-size: 16px;
    color: #f7fafc;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .header__description input::placeholder {
    color: rgb(203, 208, 214);
    font-weight: 500;
  }
  
  .blob1 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.05;
    transform: translateX(-125px);
    height: 256px;
    width: 256px;
  }
  
  /* FEATURES */
  
  .features {
    position: relative;
  }
  
  .features h1 {
    text-align: center;
    padding-top: 48px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: wider;
    letter-spacing: 0.025em;
  }
  
  .features h2 {
    text-align: center;
    padding-top: 24px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: rgb(36 62 99);
  }
  
  .features__p {
    text-align: center;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 24px;
  }
  
  .service__info {
    display: flex;
    flex-direction: column;
  }
  
  .image__container {
    border: 1px solid rgb(226, 232, 240);
    padding: 20px;
    border-radius: 9999px;
    text-align: center;
    margin: 0 16px;
  }
  
  .service__info h3 {
    font-size: 24px;
    color: #243e63;
    margin: 16px 0;
  }
  
  .service__info p,
  .steps__info p {
    color: #7c8ba1;
    font-size: 16px;
    text-align: start;
    line-height: 2;
  }
  
  .blob2 {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    width: 256px;
    height: 600px;
    transform: translate(125px, 1000px)
  }
  
  /* QUALITY WORK SECTION */
  
  .quality-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quality-work__img {
    width: 50%;
    position: relative;
  }
  
  .quality-work__img img {
    max-width: 100%;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 0.25rem;
  }
  
  .quality-work__info {
    width: 50%;
  }
  
  .quality-work__info h1 {
    text-align: start;
    padding-top: 48px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: wider;
    letter-spacing: 0.025em;
  }
  
  .quality-work__info h2 {
    text-align: start;
    padding-top: 24px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: rgb(36 62 99);
  }
  
  .grid {
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    color: #6415ff;
    fill: currentcolor;
    transform: matrix(1, 0, 0, 1, 40, 40);
  }
  
  /* STEPS SECTION */
  
  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .steps__img {
    width: 50%;
    position: relative;
    padding-top: 60px;
  }
  
  .steps__img img {
    max-width: 100%;
    height: auto;
  }
  
  .steps__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 60px;
  }
  
  .steps__info h1 {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    font-stretch: wider;
    letter-spacing: 0.025em;
  }
  
  .steps__info h2 {
    text-align: start;
    padding-top: 24px;
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: rgb(36 62 99);
  }
  
  .steps__info h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
  }
  
  .steps__info ul {
    display: flex;
    flex-direction: column;
  }
  
  .steps__info li {
    list-style-type: none;
    display: flex;
  }
  
  .steps__info p {
    letter-spacing: 0;
    font-size: 14px;
    margin-bottom: 24px;
  }
  
  .steps__info--description {
    margin-left: 24px;
  }
  
  .steps__info--number {
    font-size: 36px;
    line-height: 1;
    color: #cbd5e0;
  }
  
  .grid2 {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: -40px;
    z-index: -1;
    color: #6415ff;
    opacity: 0.2;
    fill: currentColor;
  }
  
  /* VALUES SECTION */
  
  .values {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .values__description {
    width: 50%;
    padding: 32px 64px 32px 0;
  }
  
  .values__img {
    width: 50%;
  }
  
  .values__img img {
    max-width: 100%;
  }
  
  .values__description h2 {
    margin-top: 16px;
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
  }
  
  .values__description h1 {
    font-size: 16px;
    letter-spacing: 0.025em;
  }
  
  .value__title {
    display: flex;
    align-items: center;
  }
  
  .value {
    margin: 32px 32px 0 0;
  }
  
  .value__title svg {
    color: rgb(39, 103, 73);
    height: 1.25rem;
    width: 1.25rem;
  }
  
  .values h3 {
    margin-left: 12px;
    font-size: 20px;
    color: #243e63;
  }
  
  .values__list {
    display: flex;
  }
  
  .values__description-p {
    color: #7c8ba1;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.025em;
  }
  
  .values__button--para {
    text-align: start;
    margin-top: 16px;
    color: #7c8ba1;
    font-size: 16px;
    letter-spacing: 0.025em;
    line-height: 1.5;
  }
  
  svg {
    display: block;
  }
  
  .values__description--buttons {
    display: flex;
  }
  
  .values__button--title {
    display: flex;
    flex-direction: row;
  }
  
  .value__button--img {
    background-color: #9ae6b4;
    border-radius: 9999px;
    padding: 8px;
  }
  
  .value__button--img-two {
    background-color: #feb2b2;
    border-radius: 9999px;
    padding: 8px;
  }
  
  .value__button--img-two svg {
    color: rgb(155, 44, 44);
  }
  
  .value__button--img svg {
    color: rgb(39, 103, 73);
  }
  
  .button--wrapper {
    padding-top: 32px;
  }
  
  /* PRICING SECTION */
  
  .pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
  }
  
  .pricing__description h1 {
    font-size: 16px;
    letter-spacing: 0.025em;
  }
  
  .pricing__description h2 {
    margin-top: 16px;
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
  }
  .pricing__description p {
    max-width: 550px;
  }
  
  .pricing__plans {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pricing__plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    text-align: center;
    padding: 24px 0px;
    position: relative;
    margin: 14px;
    width: 340px;
    z-index: 1;
    background-color: white;
  }
  
  .pricing__plan:nth-child(2) {
    background-image: linear-gradient(
      135deg,
      rgb(76, 81, 191) 0%,
      rgb(102, 126, 234) 100%
    );
  }
  
  .personal__highlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(
      115deg,
      rgb(56, 178, 172) 0%,
      rgb(129, 230, 217) 100%
    );
  }
  
  .enterprise__highlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: linear-gradient(
      115deg,
      rgb(245, 101, 101) 0%,
      rgb(254, 178, 178) 100%
    );
  }
  
  .top__card {
    padding: 28px 0 32px 0;
  }
  
  .top__card h2 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .top__card h3 {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 700;
  }
  
  .top__card h4 {
    font-size: 16px;
    font-weight: 700px;
    letter-spacing: 0.025em;
  }
  
  .middle__card {
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    padding: 24px;
  }
  
  .middle__card h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
  }
  
  .middle__card--title {
    color: #242424;
  }
  
  .middle__card {
    font-weight: 500;
    font-size: 16px;
    color: #718096;
  }
  
  .gray {
    color: rgb(160 174 192);
  }
  
  .bottom__card {
    padding: 24px;
  }
  
  .card__info {
    margin: 24px 0;
  }
  
  .business__btn {
    border-radius: 30px;
    padding: 20px 75px;
    border: none;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
    color: #6415ff;
    margin-top: 24px;
  }
  
  .personal__btn {
    border-radius: 30px;
    padding: 20px 75px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-top: 24px;
    background: linear-gradient(
      115deg,
      rgb(56, 178, 172) 0%,
      rgb(129, 230, 217) 100%
    );
  }
  
  .enterprise__btn {
    border-radius: 30px;
    padding: 20px 75px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-top: 24px;
    background-image: linear-gradient(
      115deg,
      rgb(245, 101, 101) 0%,
      rgb(254, 178, 178) 100%
    );
  }
  
  .personal__btn:hover,
  .business__btn:hover, 
  .enterprise__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .blob3 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 256px;
    width: 256px;
    transform: translateX(-100px);
    opacity: 0.25;
    overflow: hidden;
    z-index: -2
  }
  
  
  /* TESTIMONIALS SECTION*/
  
  
  .testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .testimonial__img {
    display: flex;
    width: 40%;
  }
  
  .person--img {
    width: 100%;
  }
  
  .testimonial__info {
    width: 60%;
    margin-left: 24px;
  }
  
  .star {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    fill: currentcolor;
    color: rgba(246, 173, 85);
    margin-top: 40px;
  }
  
  .review__description {
    margin-top: -24px;
  }
  
  .gray__text--centered {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #7c8ba1;
    text-align: center;
    margin: 24px 0px 36px 0px;
  }
  
  .gray__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #7c8ba1;
    text-align: start;
    max-width: 576px;
    margin: 24px 0px 36px 0px;
  }
  
  .testimonials h1 {
    font-weight: 700;
    font-size: 16px;
  }
  
  .testimonials h2 {
    font-weight: 900;
    font-size: 48px;
    color: #243363;
    margin-top: 24px;
  }
  
  .testimonial__title {
    color: #243363;
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0px;
  }
  
  .testimonial__para {
    font-size: 16px;
    margin: 16px 0px 40px 0px;
    color: #4a5568;
    font-weight: 500;
    line-height: 1.625;
  }
  
  .testimonial__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .testimonial__person {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .testimonial__person--img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    overflow: hidden;
  }
  
  .testimonial__person--info {
    margin-left: 24px;
  }
  
  .testimonial__person--info h2 {
    color: #243e63;
    font-size: 20px;
  }
  
  .testimonial__person--info p {
    color: #7c8ba1;
    font-size: 16px;
  }
  
  .testimonial__arrows {
    display: flex;
  }
  
  .testimonial__arrow {
    border-radius: 100%;
    cursor: pointer;
    padding: 14px 15px 12px 15px;
    border: none;
    margin: 8px 12px;
    transition: all ease 0.3s;
    background-color: rgb(237 242 247);
  }
  
  .testimonial__arrow svg {
    height: 16px;
    width: 16px;
    stroke-width: 3;
    color: #6415ff;
  }
  
  .testimonial__arrow:hover {
    color: rgb(80 17 204);
    background-color: rgb(226 232 240)
  }
  
  .vertical__line {
    border-left: 1px solid rgb(226, 232, 240);
    margin-top: 16px;
    margin-bottom: 16px;
  }
  

  /* CONTACT US SECTION */
  

  .contact__us {
    background-color: #6415ff;
    padding: 100px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .contact__us--row {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
  }
  
  .started__btn{
    background-color: rgb(245 101 101);
    padding: 20px 40px;
    margin: 0px 32px 0px 0px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    transition: all ease .5s;
  }
  
  .started__btn:hover {
    background-color: rgb(243, 35, 35);
  }
  
  .contact__btn {
    background-color: #6415ff;
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(160 174 192);
    transition: all ease .3s;
  }
  
  .contact__btn:hover {
    background-color: #fff;
    color: #6415ff;
    transform: translate(1px, 1px);
  }
  
  .contact__text {
    font-size: 30px;
    max-width: 480px;
    color: #fff;
    z-index: 1;
  }
  
  .contact__wrapper {
    display: flex;
    padding: 12px 0;
    z-index: 1;
  }
  
  .blob4 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 350px;
    width: 350px;
    color: rgb(80, 17, 204);
    opacity: 0.5;
    transform: matrix(1, 0, 0, 1, -100, 150);
  }
  
  .blob5 {
    position: absolute;
    right: 0;
    top: 0;
    height: 350px;
    width: 350px;
    color: rgb(80, 17, 204);
    opacity: 0.5;
    transform: matrix(1, 0, 0, 1, 150, -275);
  }
  
  
  /* FOOTER */
  
  
  footer {
    width: 100%;
    background-color: #6415ff;
  }
  
  .footer__margin {
    margin: 0 28px;
  }
  
  .footer__links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer__link--list {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    color: #fff;
    font-size: 16px;
  }
  
  .footer__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }
  
  .links {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
  }
  
  .links:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .horizontal__line {
    margin: 64px;
    background-color: #6415ff;
    height: 1px;
    border-bottom: 1px solid #8f8f8f;
  }
  
  .footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copyright {
    font-size: 16px;
    font-weight: 700;
    color: rgb(160 174 192);
  }
  
  .logo__company--links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__logo {
    width: 32px;
    height: 32px;
  }
  
  .company__name {
    margin-left: 8px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.025em;
  }
  
  .social__links {
    display: flex;
  }
  
  .socials {
    background-color: white;
    color: #242424;
    height: 32px;
    width: 32px;
    border-radius: 9999px;
    margin: 8px;
    padding: 8px;
  }
  
  .socials:hover {
    background-color: #cbd5e0;
  }
  
  
/* SMALL DESKTOPS */


@media (max-width:992px) {
  .btn__menu {
    display: block;
  }
  .nav__links {
    display: none;
  }
  .input__area {
    width: 80%;
    margin: 0 auto;
  }
  .gray__text--centered {
    font-size: 16px;
    line-height: 26px;
  }
  .gray__text {
    font-size: 16px;
    line-height: 26px;
  }
  .values__button--para {
    font-size: 14px
  }
  .service {
    width: calc(100% / 2);
  }
  .quality-work__info p {
    width: 90%;
  }
  .testimonial__para {
    font-size: 14px;
  }
  .contact__us--row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__description {
    width: 100%;
    margin: 0 auto;
    max-width: 525px;
    text-align: center;
  }
  .header__description h1 {
    font-size: 28px;
  }
  .header__description p {
    font-size: 16px;
  }
  .values__description h2 {
    font-size: 36px;
  }
  .values__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .values__button--para {
    font-size: 16px;
  }
}


/* TABLETS */


@media (max-width:768px) {
  .input__area {
    display: flex;
    flex-direction: column;
  }
  .features h2 {
    font-size: 36px;
  }
  .services {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
  .service {
    width: 100%;
  }
  .gray__text--centered {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }
  .quality-work {
    flex-direction: column-reverse;
  }
  .quality-work__img {
    padding-top: 16px;
    width: 80%;
  }
  .quality-work__info {
    padding-top: 32px;
    width: 75%;
    text-align: center;
  }
  .quality-work__info p {
    text-align: center;
    margin-left: 16px;
  }
  .quality-work__info h2 {
    font-size: 36px;
    text-align: center;
  }
  .quality-work__info h1 {
    text-align: center;
  }
  .steps {
    flex-direction: column;
  }
  .steps__img {
    width: 75%;
    padding-bottom: 60px;
  }
  .steps__info {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .steps__info h2 {
    font-size: 36px;
    text-align: center;
  }
  .steps__info h1 {
    text-align: center;
  }
  .steps__info li {
    flex-direction: column;
  }
  .steps__info--description {
    text-align: center;
    margin: 0 auto;
    padding: 16px 0;
  }
  .steps__info--description p {
    text-align: center;
  }
  .values {
    flex-direction: column-reverse;
    text-align: center;
  }
  .values__description {
    width: 80%;
    padding: 48px 0;
    
  }
  .values__img {
    width: 75%;
  }
  .values__description p {
    text-align: center;
    max-width: 450px;
  }
  .value__title {
    text-align: center;
    justify-content: center;
  }
  .values__button--para {
    text-align: center;
    width: 100%;
  }
  .pricing__description h2 {
    font-size: 36px;
  }
  .pricing__description p {
    max-width: 450px;
    padding: 32px 0;
  }
  .pricing__plans {
    max-width: 400px;
    margin: 0 auto;
  }
  .pricing__plan {
    width: 100%;
  }
  .testimonials {
    flex-direction: column;
  }
  .testimonial__img {
    width: 75%;
  }
  .testimonial__info {
    text-align: center;
  }
  .testimonial__info p {
    text-align: center;
  }
  .footer__link--list {
    width: calc(100% / 3);
    margin-bottom: 50px;
  }
  .horizontal__line {
    margin: 36px 0;
  }
  .footer__copyright {
    flex-direction: column;
  }
  .logo__company--links {
    padding: 16px;
  }
  .copyright {
    padding: 16px;
  }
  .social__links {
    padding: 16px;
  }
}


/* SMALL PHONES */


@media (max-width:576px) {
  .email__btn {
    position: static;
    width: 100%;
    max-width: 410px;
    padding: 20px;
    display: block;
  }
  .gray__text--centered {
    padding: 24px;
  }
  .contact__us--row {
    width: 100%;
  }
  .contact__wrapper {
    flex-direction: column;
  }
  .started__btn {
    margin: 0 0 16px 0;
  }
  .contact__text {
    padding-bottom: 16px;
    font-size: 30px;
  }
}